<ion-content class="ion-padding">

  <div class="login-container">

    <img
      src="assets/images/LogoTitulo.png"
      class="logo">

    <h2>Bienvenido</h2>

    <ion-item>

      <ion-label position="stacked">
        Usuario
      </ion-label>

      <ion-input
        [(ngModel)]="usuario">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-label position="stacked">
        Contraseña
      </ion-label>

      <ion-input
        type="password"
        [(ngModel)]="contrasena">
      </ion-input>

    </ion-item>

    <ion-button
      expand="block"
      (click)="iniciarSesion()">

      Iniciar Sesión

    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      routerLink="/register">

  Crear una cuenta

    </ion-button>

  </div>

</ion-content>